<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace = "com.fedorova.airPorts.dao.IAirportDAO"> 

	<insert id = "insert" parameterType = "Airport" useGeneratedKeys = "true" keyProperty = "id">
	INSERT INTO  airports (id, name, airportClass) VALUES (#{id}, #{name}, #{airportClass})
	</insert>
	
	<resultMap type = "Airport" id = "AirportResultMap"> 
		<id property = "id" column = "airport_id"/> 
	<result property = "name" column = "airport_name"/>
	<result property = "airportClass" column = "airport_class"/>  
	<association property="city" resultMap = "com.fedorova.airPorts.dao.ICityDAO.CityResultMap"/> 	
	</resultMap> 
	
	<resultMap type = "Airport" id = "ToAirportResultMap"> 
		<id property = "id" column = "tairport_id"/> 
	<result property = "name" column = "tairport_name"/>
	<result property = "airportClass" column = "tairport_class"/>  
	<association property="city" resultMap = "com.fedorova.airPorts.dao.ICityDAO.CityResultMap"/> 	
	</resultMap> 
	
	
	<select id = "getById" parameterType ="int" resultMap = "AirportResultMap"> 
		select ap.id as airport_id,
		ap.name as airport_name,
		ap.airport_class as airport_class,
		ci.id as city_id,
		ci.name as city_name,
		ci.number_of_people as city_numberOfPeople,
		ci.time_zone as city_timeZone,
		co.id as country_id,
		co.name as country_name	
		from airports ap LEFT OUTER JOIN cities ci ON ap.city_id = ci.id 
		LEFT OUTER JOIN countries co ON ci.countries_id = co.id WHERE ap.id = #{id}  
	</select> 
	

	
	<update id = "update" parameterType = "Country">
	UPDATE airports SET id = #{id}, name = #{name}, airportClass = #{airportClass} WHERE id=#{id}
	</update>

	<delete id = "delete" parameterType = "int">
	DELETE FROM airports WHERE id=#{id}
	</delete>
</mapper>