<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<properties resource = "database.properties"/>
	
	<typeAliases>
		<typeAlias alias="Airport" type="com.fedorova.airPorts.models.airports.Airport"/>
		<typeAlias alias="Brand" type="com.fedorova.airPorts.models.planes.Brand"/>
		<typeAlias alias="Boarding" type="com.fedorova.airPorts.models.flights.Boarding"/>
		<typeAlias alias="BoardingPass" type="com.fedorova.airPorts.models.flights.BoardingPass"/>
		<typeAlias alias="Cancellation" type="com.fedorova.airPorts.models.flights.Cancellation"/>
		<typeAlias alias="City" type="com.fedorova.airPorts.models.location.City"/>
		<typeAlias alias="Country" type="com.fedorova.airPorts.models.location.Country"/>
		<typeAlias alias="Flight" type="com.fedorova.airPorts.models.flights.Flight"/>
		<typeAlias alias="Model" type="com.fedorova.airPorts.models.planes.Model"/>
		<typeAlias alias="Passenger" type="com.fedorova.airPorts.models.people.Passenger"/>
		<typeAlias alias="Pilot" type="com.fedorova.airPorts.models.people.Pilot"/>
		<typeAlias alias="Plane" type="com.fedorova.airPorts.models.planes.Plane"/>
		<typeAlias alias="Steward" type="com.fedorova.airPorts.models.people.Steward"/>
		
	</typeAliases>
	
	<environments default = "development">
		<environment id = "development">
			<transactionManager type = "JDBC"/>
			<dataSource type = "POOLED">
				<property name = "driver" value = "${driver}"/>
				<property name = "url" value = "${url}"/>
				<property name = "username" value = "${user}"/>
				<property name = "password" value = "${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource = "mapper/AirportMapper.xml"/>
		<mapper resource = "mapper/BrandMapper.xml"/>
		<mapper resource = "mapper/BoardingMapper.xml"/>
		<mapper resource = "mapper/BoardingPassMapper.xml"/>
		<mapper resource = "mapper/CancellationMapper.xml"/>
		<mapper resource = "mapper/CityMapper.xml"/>
		<mapper resource = "mapper/CountryMapper.xml"/>
		<mapper resource = "mapper/FlightsMapper.xml"/>
		<mapper resource = "mapper/ModelMapper.xml"/>
		<mapper resource = "mapper/PassengerMapper.xml"/>
		<mapper resource = "mapper/PilotMapper.xml"/>
		<mapper resource = "mapper/PlaneMapper.xml"/>
		<mapper resource = "mapper/StewardMapper.xml"/>
		
	</mappers> 
	
</configuration>
