<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace = "com.fedorova.airPorts.dao.IPlaneDAO"> 

	<insert id = "insert" parameterType = "Plane" useGeneratedKeys = "true" keyProperty = "id">
	INSERT INTO  countries (name) VALUES (#{name})
	</insert>
	
	<resultMap type = "Plane" id = "PlaneResultMap"> 
		<id property = "id" column = "plane_id"/> 
	<result property = "planeCondition" column = "plane_condition"/>
	<result property = "planeType" column = "plane_types"/>  
	<association property="model" resultMap = "com.fedorova.airPorts.dao.IModelDAO.ModelResultMap"/> 	
	</resultMap> 
	
	<select id = "getById" parameterType ="int" resultMap = "PlaneResultMap"> 
		select pl.id as plane_id,
		pl.plane_condition as plane_condition,
		pl.planes_types as plane_types,
		m.id as model_id,
		m.name as model_name,
		b.id as brand_id,
		b.name as brand_name
		from planes pl LEFT OUTER JOIN models m ON pl.models_id = m.id 
		LEFT OUTER JOIN brands b ON m.brands_id = b.id WHERE pl.id = #{id}  
	</select> 
	
	<update id = "update" parameterType = "Plane">
	UPDATE countries SET name=#{name} WHERE id=#{id}
	</update>

	<delete id = "delete" parameterType = "int">
	DELETE FROM countries WHERE id=#{id}
	</delete>
</mapper>